/*- UTILS -*/
@import url("/css/imports/utils/variables/root.css");
@import url("/css/imports/utils/variables/colorClasses.css");
@import url("/css/imports/utils/loader/loader.css");
@import url("/css/imports/utils/alerts/alertMessage.css");
@import url("/css/imports/utils/alerts/formError.css");
@import url("/css/imports/utils/alerts/errorWrapper.css");

/*- COMPONENTS -*/
@import url("/css/imports/components/static/colorModeIcons/icon-lightBulb.css");
@import url("/css/imports/components/static/colorModeIcons/icon-specific.css");
@import url("/css/imports/components/static/logo.css");
@import url("/css/imports/components/static/navBar.css");
@import url("/css/imports/components/static/footer.css");
@import url("/css/imports/components/thumbnails/thumbnails.css");
@import url("/css/imports/components/modal/modal.css");
@import url("/css/imports/components/carousel/carousel.css");
@import url("/css/imports/components/search/options.css");
@import url("/css/imports/components/comments/comments.css");

/* PAGES */
@import url("/css/imports/pages/landing.css");
@import url("/css/imports/pages/blogPost.css");
@import url("/css/imports/pages/about.css");
@import url("/css/imports/components/forms/contactForm.css");

/*---------
 GLOBAL STYLES
 ---------------*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-background);
}

/*---------
COMMON STYLES
---------------*/

main {
  overflow-x: hidden;
}

.container {
  background-color: var(--primary-color);
  border-radius: 8px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.topContent-rightGroup {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 70px;
}

/*--
Media queries for common
---------------------------------*/

@media screen and (max-width: 778px) {
  .contact-container,
  .blogList-container,
  .about-container,
  .home-container {
    margin-bottom: 30%;
  }

  .topContainer {
    flex-direction: column;
    align-items: center;
  }

  .topContent-rightGroup {
    margin: 10px 0;
    gap: 10px;
  }
}
