.lightBulb:hover {
  animation: heartbeat 0.8s ease forwards;
}

.fa-lightbulb {
  color: var(--lightbulb);
  margin-right: 35px;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/*--
Media queries for colorMode toggle
---------------------------------*/

@media screen and (max-width: 375px) {
  .lightBulb {
    font-size: 0.9rem;
  }

  .lightBulb:hover {
    animation: heartbeat 0.6s ease forwards;
  }
}

@media screen and (max-width: 600px) {
  .lightBulb {
    position: relative;
    cursor: pointer;
    top: 20px;
    left: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 601px) {
  .lightBulb {
    position: absolute;
    cursor: pointer;
    right: 5%;
  }
}
