.specificIconElement {
  display: none;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  margin-top: -20px;
  margin-left: -20px;
  margin-bottom: -20px;
}

@media screen and (max-width: 600px) {
  .specificIconElement {
    width: 45px;
    height: 45px;

    margin-top: -10px;
    margin-left: 0;
    margin-bottom: -10px;
  }
}
