.lightBulb:hover {
  animation: heartbeat 0.8s ease forwards;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/*--
Media queries for colorMode toggle
---------------------------------*/

@media screen and (max-width: 1100px) {
  .lightBulb {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 10px;
    z-index: 2;
  }
}

@media screen and (min-width: 1101px) {
  .lightBulb {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 2%;
    z-index: 2;
  }
}
