.navContainer {
  margin-left: 10px;
  margin-right: 20px;
}

.navBar {
  display: grid;
  grid-column: 1 / -1;
  justify-self: start;
  align-self: start;
  gap: 20px;
  padding-left: 55px;
  margin: 0;
}

.navBar ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-self: start;
}

.navLinks {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: lighter;
  padding: 10px 15px;
  border-radius: 6px;
  background-color: var(--button-color);
  transition: background-color 0.3s, transform 0.3s;
}

.navLinks:hover {
  transform: scale(1.2);
  background-color: var(--hover-color);
}

/*--
Media queries for nav menu
---------------------------------*/

@media screen and (max-width: 1100px) {
  .navBar {
    text-align: center;
  }
}

@media screen and (min-width: 1101px) {
  .navBar {
    justify-self: start;
  }
}

@media screen and (max-width: 778px) {
  .navBar {
    padding-left: 0;
    margin: 2% auto;
  }
}

@media screen and (max-width: 460px) {
  .navBar {
    gap: 10px;
    width: 100%;
    justify-content: center;
  }

  .navBar ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navLinks {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
}
