/* WHEEL SPIN*/

/* .carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
  animation: carousel-spin 15s linear infinite;
}

.carouselIMG {
  flex: 0 0 auto;
  width: 300px; 
  height: 200px;
  margin-right: 16px; 
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Keyframes for continuous scrolling 
@keyframes carousel-spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */
