.filtersContainer {
  margin-left: 50px;
}

.options {
  text-align: center;
  font-size: 0.9rem;
  width: 230px;
  height: 45px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 2%;
  margin-right: 2%;
  cursor: pointer;

  color: var(--secondary-text);
  border: 2px solid var(--primary-background);
  background-color: var(--primary-color);
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
}

.options:hover {
  transform: scale(1.01);
  border: 2px dashed var(--alert-success);
}

#categoryCheckboxList {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

label {
  color: var(--title-text);
}

.visually-hidden-labels {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 768px) {
  .filtersContainer {
    margin: 0;
    text-align: center;
    justify-self: center;
  }

  #categoryCheckboxList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: baseline;
    justify-self: center;
  }
}
