.about-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2% 5%;
}

.aboutTitle {
  color: var(--title-text);
  font-size: 4rem;
  font-weight: lighter;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 0;
}

.aboutContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1300px;
  min-height: 700px;
  margin-bottom: 15%;
  justify-self: center;
}

.aboutImg {
  justify-self: center;
  align-self: center;
  width: 80%;
  height: auto;
  opacity: 0.8;
  border-radius: 8px;
}

.textContent {
  color: var(--secondary-text);
  text-align: end;
  justify-self: center;
  align-self: center;
  margin: 2%;
}

@media screen and (max-width: 778px) {
  .aboutTitle {
    font-size: 3rem;
  }

  .textContent {
    align-self: none;
  }
}

@media screen and (max-width: 1100px) {
  .aboutContent {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    height: auto;
  }

  .aboutImg {
    margin-top: 5%;
  }

  .textContent {
    text-align: start;
    margin-left: 5%;
  }
}
