.post-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2% 5%;
  padding-bottom: 10%;
  justify-content: center;
}

.post-container {
  margin-bottom: 20%;
}

.postContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5%;
  max-width: 1400px;
  min-height: 700px;
}

.contentTitle,
.contentText,
.postFooter {
  justify-self: center;
  color: var(--secondary-text);
}

.contentTitle {
  font-size: 1.2rem;
  margin: 10% 0 8% 0;
  text-align: center;
}

.contentText {
  text-align: justify;
  font-size: 0.9rem;
  width: 100%;
  max-width: 500px;
  margin: 4% 0 4% 0;
}

.textContainer {
  margin: 5%;
}

.postFooter {
  font-size: 12px;
  font-style: italic;
  opacity: 0.8;
}

.blogImg {
  width: 80%;
  height: auto;
  border-radius: 8px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

/*------------
Media queries
--------------*/

@media screen and (max-width: 1024px) {
  .postContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: auto;
    height: auto;
  }

  .contentTitle {
    font-size: 1.2rem;
    margin: 0;
  }

  .contentText {
    text-align: justify;
    font-size: 0.8rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .blogImg {
    margin: 5%;
    max-width: 60%;
  }
}
