.blogList-container {
  display: grid;
  margin-bottom: 15%;
}

.blogListContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 90%;
  justify-self: center;
}

.blogListTitle {
  color: var(--title-text);
  font-size: 4rem;
  font-weight: lighter;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 0;
}

.titleBlob {
  color: #000000;
  background-color: var(--thumbnail-blob);
  position: absolute;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  padding: 5px 8px;
  border-radius: 4px;
  pointer-events: none;
  /* width: 350px; */
  width: 250px;
  text-align: center;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  transition: opacity 0.3s ease-in-out;
  /* opacity: 0; */

  justify-self: center;
  align-self: center;
  z-index: 5;
}

.thumb-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  justify-self: center;
  margin: 4% 0;

  justify-content: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
}

.thumbnails {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0.5rem 0.5rem 1rem var(--thumbnail-shadow));
  overflow: hidden;
}

.thumbImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.expandPosts {
  color: var(--secondary-text);
  align-self: center;
  cursor: pointer;
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  text-decoration: underline;
  background: linear-gradient(
    to left,
    var(--primary-color) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .blogListContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: auto;
    height: auto;
    margin: 0 5% 0 5%;
  }

  .blogListTitle {
    font-size: 3rem;
  }

  .thumbnails {
    flex: 1 1 100%;
  }
}

@media (max-width: 778px) {
  .titleBlob {
    /* opacity: 1; */
    /* max-width: 200px; */
    margin-bottom: -5px;
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  /* .thumb-container .titleBlob {
    opacity: 1;
    z-index: 5;
  } */

  .titleBlob {
    width: 350px;
    opacity: 0;
  }

  .thumb-container:hover .titleBlob {
    opacity: 1;
  }

  .thumbnails:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
    outline: 2px dashed var(--tertiary-color);
  }

  .expandPosts:hover {
    background-position: 0 100%;
    background-color: var(--tertiary-color);
    text-decoration: none;
  }
}
