.blogList-section {
  display: grid;
  padding: 2% 5%;
}

.blogList-container {
  display: grid;
}

.thumb-container {
  display: grid;
  margin: 5% 0;
  padding: 2% 5%;
}

.blogListContent {
  display: grid;
  padding: 5%;
}

.thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.titleBlob {
  color: var(--thumbnail-blob);
  background-color: var(--alert-info);
  position: absolute;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  padding: 5px 8px;
  border-radius: 4px;
  pointer-events: none;
  width: 350px;
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbContent,
.blogListContent {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 150px;
  justify-content: center;
  align-content: start;
}

.thumbnails {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
  justify-self: center;
  align-self: center;

  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0.5rem 0.5rem 1rem var(--thumbnail-shadow));
  overflow: hidden;
}

.expandPosts {
  color: var(--secondary-text);
  align-self: center;
  cursor: pointer;
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  text-decoration: underline;
  background: linear-gradient(
    to left,
    var(--primary-color) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s ease-in-out;
}

@media screen and (max-width: 600px) {
  .titleBlob {
    width: auto;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .blogList-container {
    margin-bottom: 30%;
  }

  .thumbContent,
  .blogListContent {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .thumbnails {
    width: 90%;
    height: auto;
    margin: 5%;
  }

  .titleBlob {
    width: auto;
  }
}

@media screen and (min-width: 1025px) {
  .thumbnails:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
    outline: 2px dashed var(--tertiary-color);
  }

  .expandPosts:hover {
    background-position: 0 100%;
    background-color: var(--tertiary-color);
    text-decoration: none;
  }
}
