.iconContainer {
  cursor: pointer;
  text-align: right;
}

.fa-lightbulb {
  color: var(--lightbulb);
  margin-right: 35px;
}

.lightBulb {
  position: relative;
  cursor: pointer;
}

/*------------
Media queries
--------------*/

@media screen and (max-width: 375px) {
  .lightBulb {
    font-size: 0.9rem;
  }

  .lightBulb:hover {
    animation: heartbeat 0.6s ease forwards;
  }
}

@media screen and (min-width: 1024px) {
  .lightBulb:hover {
    animation: heartbeat 0.8s ease forwards;
  }

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
}
