.specificIconElement {
  display: none;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 20px;
}

@media screen and (max-width: 778px) {
  .specificIconElement {
    width: 45px;
    height: 45px;
    margin-right: 0;
  }
}
