/*- CAROUSEL WITH SCROLL -*/

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.carouselTitle {
  font-size: 2rem;
  margin-bottom: 16px;
  text-align: center;
  color: var(--secondary-text);
  cursor: pointer;

  background-color: var(--alert-info);
  padding: 10px;
  border-radius: 8px;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
  max-width: none;
  margin: 0 auto;
}

.carouselIMG {
  flex: 0 0 calc((100% - 32px) / 3);
  width: calc((100% - 32px) / 3);
  height: auto;
  max-width: 300px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 8px var(--alert-box-shadow);
  transition: transform 0.3s ease;
  scroll-snap-align: start;
  cursor: pointer;
}

.carouselTitle:hover,
.carousel-scrolling,
.focusedPost {
  outline: 2px dashed var(--tertiary-color);
}

.slideShowDiv {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 50;
}

.slideLeft,
.slideRight {
  font-size: 85px;
  color: var(--tertiary-color);
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 0.3s, transform 0.3s;
}

.slideLeft {
  margin-left: 15px;
  align-self: center;
}

.slideRight {
  margin-right: 15px;
  align-self: center;
}

.slideLeft:hover,
.slideRight:hover {
  transform: scale(1.5);
  color: var(--lightbulb);
}

/*--
Media queries for carousel
---------------------------------*/

@media screen and (max-width: 768px) {
  .slideShowDiv {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .carouselTitle {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }

  .carouselIMG {
    width: 300px;
    height: auto;
  }
}
