.commentDiv {
  display: grid;
  justify-content: center;
  margin: 5%;
}

.commentForm {
  width: 600px;
  height: auto;
  justify-self: center;
  margin: 5%;
}

#commentToggle {
  border-radius: 4px;
  padding: 4px;
  width: fit-content;
  cursor: pointer;
  color: var(--secondary-text);
  text-decoration: underline;
  background: linear-gradient(
    to left,
    var(--primary-background) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s ease-in-out;
}

#commentToggle:hover {
  background-position: 0 0;
  background-color: var(--tertiary-color);
  text-decoration: none;
}

.commentsContainer {
  background-color: var(--primary-color);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.commentContent {
  background-color: var(--primary-background);
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.commentAuthor,
.commentMessage {
  color: var(--title-text);
  margin-bottom: 5px;
}

.commentDate {
  color: var(--published-comment);
  font-size: 0.9em;
  margin-bottom: 5px;
}

/*------------
Media queries
--------------*/

@media screen and (max-width: 778px) {
  #commentToggle {
    justify-self: center;
  }
}

@media screen and (max-width: 1024px) {
  .commentForm {
    width: auto;
    height: auto;
  }
}
