/*- LIGHT -*/
body.light {
  --primary-background: #ffffff;
  --secondary-background: #cef5e1;
  --primary-text: #222222;
  --secondary-text: #222222;
  --primary-color: #cef5e1;
  --secondary-color: ;
  --tertiary-color: #2cde88;
  --lightbulb: #016a50;
}

/*- DARK -*/
body.dark {
  --primary-background: #1c201b;
  --secondary-background: #ffffff;
  --primary-text: #1c201b;
  --secondary-text: #ffffff;
  --primary-color: #252d26;
  --secondary-color: ;
  --tertiary-color: #91fdc7;
  --lightbulb: #02cd88;
}

/*- RED & BLUE -*/
body.rb {
  --primary-background: #f9f1dc;
  --secondary-background: #193039;
  --primary-text: #ffffff;
  --secondary-text: #ffffff;
  --primary-color: #193039;
  --secondary-color: ;
  --tertiary-color: #e24d28;
  --lightbulb: #193039;
}

/*- BLUE & RED -*/
body.br {
  --primary-background: #193039;
  --secondary-background: #f9f1dc;
  --primary-text: #193039;
  --secondary-text: #193039;
  --primary-color: #f9f1dc;
  --secondary-color: ;
  --tertiary-color: #e24d28;
  --lightbulb: #e24d28;
}

/* rebellion */
body.rebel {
  --primary-background: #f0ece1;
  --secondary-background: #3b444b;
  --primary-text: #fcfaf8;
  --secondary-text: #080808;
  --primary-color: #e5703d;
  --secondary-color: ;
  --tertiary-color: #c05021;
  --lightbulb: #c05021;
}

/* darkSide */
body.sith {
  --primary-background: #080808;
  --secondary-background: #2d2b3c;
  --primary-text: #dfdfdf;
  --secondary-text: #dfdfdf;
  --primary-color: #2d2b3c;
  --secondary-color: ;
  --tertiary-color: #e60000;
  --lightbulb: #e60000;
}
