:root {
  /*- Button color-map -*/
  --button-color: #1e7ea8;
  --color-btn-one: #148550;
  --color-btn-two: #663399;
  --color-btn-three: #9f6500;
  --color-btn-four: #1e7ea8;

  /*- alert messages -*/
  --alert-box-shadow: rgba(0, 0, 0, 0.3);
  --alert-info: rgba(0, 0, 0, 0.6);
  --alert-success: rgba(19, 72, 17, 0.367);
  --alert-warning: rgba(131, 100, 0, 0.523);
  --alert-error: rgba(139, 0, 0, 0.302);
  --alert-text: #193039;
  --alert-background: #ffffff;
  --alert-close: #193039;

  /*- Error message -*/
  --error-red-front: rgb(159, 16, 17);
  --error-red-back: rgba(255, 0, 0, 0.1);

  /* Thumbnails */
  --thumbnail-shadow: #000000;
  --thumbnail-blob: #ffffff;

  /*- footer -*/
  --footer-grey: #2d332e;

  font-size: calc(1rem + 0.25vw);
}
