:root {
  /*- Button color-map -*/
  --button-color: #1e7ea8;
  --color-btn-one: #148550;
  --color-btn-two: #663399;
  --color-btn-three: #9f6500;
  --color-btn-four: #1e7ea8;

  /*- alert messages -*/
  --alert-box-shadow: #0000004d;
  --alert-info: #00000099;
  --alert-success: #1348115e;
  --alert-warning: #83640085;
  --alert-error: #8b00004d;
  --alert-text: #193039;
  --alert-background: #ffffff;
  --alert-close: #193039;

  /*- Error message -*/
  --error-red-front: rgb(159, 16, 17);
  --error-red-back: rgba(255, 0, 0, 0.1);

  /* Thumbnails */
  --thumbnail-shadow: #000000;
  --thumbnail-blob: #ffffff;

  /*- footer -*/
  --published-comment: #999;

  font-size: calc(1rem + 0.25vw);
}
