/*- DEFAULT COLOR MODE: DARK -*/
:root {
  /*- Default color mode: Dark -*/
  /* --primary-background: #1c201b;
  --secondary-background: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #1c201b;
  --primary-color: #252d26;
  --secondary-color: ;
  --tertiary-color: #91fdc7;
  --lightbulb: #02cd88; */

  /*- Button color-map -*/
  --button-color: ;
  --color-btn-one: #2cde88;
  --color-btn-two: #612cde; /*  CLEAR PURPLE: #663399; */
  --color-btn-three: #dea32c;
  --color-btn-four: #2ca6de;

  /*- alert messages -*/
  --alert-box-shadow: rgba(0, 0, 0, 0.3);
  --alert-info: rgba(0, 0, 0, 0.6);
  --alert-success: rgba(19, 72, 17, 0.367);
  --alert-warning: rgba(131, 100, 0, 0.523);
  --alert-error: rgba(139, 0, 0, 0.302);
  --alert-text: #193039;
  --alert-background: #ffffff;
  --alert-close: #193039;

  /*- Error message -*/
  --error-red-front: rgb(159, 16, 17);
  --error-red-back: rgba(255, 0, 0, 0.1);

  /*- footer -*/
  --footer-text: #7c817d;
  --footer-grey: #2d332e;

  font-size: calc(1rem + 0.25vw);
}
