/* .no-results {
  color: var(--primary-color);
  border: 2px solid var(--alert-warning);
  box-shadow: 0 5px 20px var(--overlay-faded-black);
  background-color: var(--alert-warning);
  border-radius: 12px;
  width: 300px;
  padding: 20px;
  margin: 5%;
  text-align: center;
  font-size: 28px;
  font-weight: 400;

  grid-column: span 3;
  justify-self: center;
} */
